/* stylelint-disable prettier/prettier */
@mixin myMagicMixin($size) { // ERROR 0: Expected naming to be BEM compatible (scss/at-mixin-pattern)
  @if $size == "12px" {
    opacity: 0;
  } // ERROR 1: Expected newline after "}" of @if statement (scss/at-if-closing-brace-newline-after)

  @else if $size == "13px" { /* ERROR 2: Unxpected empty line before @else (scss/at-else-empty-line-before) */
    opacity: 0.5;
  } @else {
    opacity: 1;

    @include myOtherMixin($size); /* ERROR 3: Expected blockless @include to come before declaration        order/order */
  }
}

.oh-dear-this-is-not-a-BEM-selector { /* ERROR 4: Expected class selector */
  cursor: pointer;

  @extend %_someSelector;/* ERROR 5: Expected blockless @extend to come before declaration (order/order) */

  @include myMagicMixin(12px);

  top: 0;
  left: 0;
  display: block;
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 1px solid #f00; /* ERROR 6: Expected variable, function or keyword for "#f00" of "border" (scale-unlimited/declaration-strict-value) */
  border-radius: 10px;

  /* ERROR 7: Expected variable, function or keyword for "#000" of "color" (scale-unlimited/declaration-strict-value) */
  color: #000; // WARNING 8: Expected "color" to come before "border-radius" (order/properties-order)
  background: url("../resources/someImage.png") left top no-repeat
    transparent;
  font-family: sans-serif; // WARNING 9: Expected "font-family" to come before "background" (order/properties-order)
  font-size: 1.2em;

  /* WARNING 10: Expected "position" to come before "font-size" (order/properties-order) */
  position: absolute;

  &:after { // ERROR 11: Expected double colon pseudo-element notation (selector-pseudo-element-colon-notation)
    content: "Hello World";
  }
}
