@mixin myMagicMixin($size) {
  @if $size == "12px" {
    opacity: 0;
  }
  @else if $size == "13px" {
    opacity: 0.5;
  }
  @else {
    opacity: 1;

    @include myOtherMixin($size);
  }
}

.my-m-selector {
  $color-red: #f00;

  /* 0. extends */
  @extend %_someSelector;

  /* 1. generated content */

  /* 2. position */
  position: absolute;
  top: 0;
  left: 0;

  /* 3. display + box */
  display: block;
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 1px solid $color-red;
  border-radius: 10px;

  /* 4. color */
  color: $color-red;
  background: url("../resources/someImage.png") left top no-repeat
    transparent;

  /* 5. text */
  font-family: sans-serif;
  font-size: 1.2em;

  /* 6. other */
  cursor: pointer;

  /* 7. mixins */
  @include myMagicMixin(12px);

  .my-m-subselector {
    /* 3. display + box */
    margin: 0 auto;
  }

  .my-e-element {
    /* test inherit exception */
    color: transparent;

    /* test transparent exception */
    background: transparent;
  }

  &:after {
    /* 1. generated content */
    content: "Hello World";
  }
}
