@mixin my-magic-mixin($size) {
  @include my-other-mixin($size);

  @if $size == "12px" {
    opacity: 0;
  } @else if $size == "13px" {
    opacity: 0.5;
  } @else {
    opacity: 1;
  }
}

.my-m-selector {
  /* 0. extends */
  @extend %_someSelector;

  /* 1. variables */
  $color-red: #f00;

  /* 2. mixins */
  @include my-magic-mixin(12px);

  /* 3. interaction */
  cursor: pointer;

  /* 4. positioning */
  position: absolute;
  top: 0;
  left: 0;

  /* 5. layout + box */
  display: block;
  width: 300px;
  height: 200px;
  padding: 20px;

  /* 6. typography */
  font-family: sans-serif;
  font-size: 1.2em;

  /* 7. appearance */
  color: $color-red;
  background: url("../resources/someImage.png") left top no-repeat transparent;
  border: 1px solid $color-red;
  border-radius: 10px;

  /* 8. nested rules */
  .my-m-subselector {
    /* 3. layout + box */
    margin: 0 auto;
  }

  .my-e-element {
    /* test inherit exception */
    color: inherit;

    /* test transparent exception */
    background: transparent;
  }

  &::after {
    /* 1. generated content */
    content: "Hello World";
  }
}
