/* The 'partial-no-import' rule won't work if linting in a code string without an actual file. */
/* stylelint-disable scss/partial-no-import */
@import url("x.css");
@import url("y.css");

$color-grey: #333;
$break-resolution-dpi: 192dpi;
$break-resolution-dppx: 2dppx;
$break-portrait: portrait;

/**
 * Multi-line comment
 */

.pv-m-1,
.pv-e-2--aa--aaaa_aaa--aaas__aaaa,
.pv-m-3[type="text"] {
  background: linear-gradient(#fff, rgba(0, 0, 0, 0.8));
  box-sizing: border-box;
  display: block;
  color: $color-grey;
}

.pv-h-a,
.pv-m-a--b:not(:first-child) {
  /* disabling for testing */
  /* stylelint-disable-next-line */
  padding: 10px !important;
  top: calc(calc(1em * 2) / 3);
}

.pv-h-x {
  width: 10%;
}

.pv-m-y--a_active {
  width: 20%;
}

.pv-h-z--d {
  width: 30%;
}

/* Single-line comment */

@media (min-width >= 60em) {
  .pv {
    /* Flush to parent comment */
    transform: translate(1, 1) scale(3);
  }
}

@media (orientation: $break-portrait), projection and (color) {
  .pv-m-i + .pv-h-ii {
    background: color(rgb(0, 0, 0) lightness(50%));
    font-family: helvetica, "arial black", sans-serif;
  }
}

/* Flush single line comment */
@media
  screen and (min-resolution: $break-resolution-dpi),
  screen and (min-resolution: $break-resolution-dppx) {
  .pv {
    background-image:
      repeating-linear-gradient(
        -45deg,
        transparent,
        #fff 25px,
        rgba(255, 255, 255, 1) 50px
      );
    margin: 10px;
    margin-bottom: 5px;
    box-shadow:
      0 1px 1px #000,
      0 1px 0 #fff,
      2px 2px 1px 1px #ccc inset;
    height: 10rem;
  }

  /* Flush nested single line comment */
  .pv:after {
    content: "→";
    background-image: url("x.svg");
  }
}
